@page
@model IndexModel
@{
    ViewData["Title"] = "My Todos";
}

<table class="table">
    <thead>
        <tr>
            <td>
                Status
            </td>
            <td>
                What
            </td>
            <td>
                Started
            </td>
            <td>
                Finished
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Todos)
        {
            <tr>
                <td>
                    @(item.IsDone ? "✓" : "")
                </td>
                <td>
                    @item.Mission
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @(item.IsDone ? item.EndedOn : "")
                </td>
            </tr>
        }
        <tr>
            <form method="post">
                <td>
                </td>
                <td>
                    <input asp-for="NewTodo.Mission"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="submit" value="Add ToDo"/>
                </td>
            </form>
        </tr>
    </tbody>
</table>